<link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
<link rel="stylesheet" href="../../static/Scripts/index.css">

<div class="container">
    <div class="nav">
    </div>

<div class="values" style="font-family: 'Space Mono', sans-serif; padding-bottom: 2rem">
      <h3>click here</h3>
      <ul>
        <li><a href="/home" style="font-size: 1.25rem">Home</a></li>
        <li><a href="/tesla" style="font-size: 1.25rem">Tesla</a></li>
        <li><a href="/curie" style="font-size: 1.25rem">Curie</a></li>
        <li><a href="/einstein" style="font-size: 1.25rem">Einstein</a></li>
      </ul>
    </div>

    <div class="location-2" style="font-family: 'Space Mono', sans-serif;">
      <h3>@</h3>
      <p>Cogon, Dipolog City</p>
      <p>Philippine Science High School</p>
      <p>Zamboanga Peninsula Region Campus</p>
    </div>

    <!-- <div class="contact" style="font-family: 'Space Mono', sans-serif;">
      <h3>Jared's EMAIL?</h3>
      <p></p>
      <p><a href="mailto:brightbastasa@gmail.com">jared@potus.com</a></p>
    </div>

    <div class="social" style="font-family: 'Space Mono', sans-serif;">
      <h3>FOLLOW ME NOW</h3>
      <ul>
        <li><a href="https://www.instagram.com/cheldiokno">insta</a></li>
      </ul>
    </div> -->
 </div>